* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 150px;
  height: auto;
  background: red;
}

.playercode {
  width: 100%;
  height: 40px;
  background: green;
  border: 1px solid black;
}

.template {
  display: none;
}
